@using SV22T1020362.Models.Sales
@model OrderViewInfo
@{
    Layout = null;
}
<div class="modal-header text-bg-info">
    <strong class="modal-title">
        Chọn người giao hàng
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <form id="formShipping" method="post" action="~/Order/Shipping/@Model?.OrderID">
        <div class="row">
            <div class="col-12">
                <label class="form-label">Người giao hàng</label>
                <!-- Danh sách shipper lấy từ DB qua PartnerDataService -->
                <select name="shipperID" class="form-select">
                    <option value="0">-- Chọn người giao hàng --</option>
                    @{
                        var shippers = await PartnerDataService.ListShippersAsync(
                        new SV22T1020362.Models.Common.PaginationSearchInput
                        { Page = 1, PageSize = 0, SearchValue = "" });
                        foreach (var s in shippers.DataItems)
                        {
                            <option value="@s.ShipperID">@s.ShipperName - @s.Phone</option>
                        }
                    }
                </select>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="submit" form="formShipping" class="btn btn-primary">
        <i class="bi bi-bicycle"></i> Giao hàng
    </button>
    <button type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
        Đóng
    </button>
</div>